@page "/jobs"
@using Blazorise
@using DatabaseAccess.Data
@using DatabaseAccess.Entities
@using DatabaseAccess.Enums
@using Microsoft.AspNetCore.Identity
@inject HttpContextAccessor HttpContextAccessor
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject JobPostService JobPostService

<PageTitle>Jobs</PageTitle>
@if(isLoggedIn)
{
<h2>Job Postings</h2>
<DataGrid TItem="JobPost"
          Data="@jobList"
          @bind-SelectedRow="@selectedJob"
          RowSelectable=@((e) => { NavigationManager.NavigateTo($"/job/{e.Item.Id}"); return true; })
          Editable
          Filterable
          Responsive
          ShowPager
          CommandMode="DataGridCommandMode.ButtonRow"
          EditMode="editMode">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(JobPost.Id)" Caption="#Job ID" Sortable="false" />
        <DataGridColumn Field="@nameof(JobPost.JobTitle)" Caption="Job Title" />
        <DataGridColumn Field="@nameof(JobPost.CreationDate)" Filterable="false" Caption="Creation Date" />
        <DataGridColumn Field="@nameof(JobPost.ExpirationDate)" Filterable="false" Caption="Expiration Date" />
        <DataGridColumn Field="@nameof(JobPost.Location)" Caption="Location" />
        <DataGridSelectColumn CustomFilter="@OnCustomFilter" Editable Field="@nameof(JobPost.Status)" Caption="Status" >
                <FilterTemplate>
                    <Select TValue="string" SelectedValue="@selectedStatusFilter" SelectedValueChanged="@(value => { selectedStatusFilter = value; context.TriggerFilterChange( selectedStatusFilter ); })">
                        <SelectItem Value="@("*")"> All </SelectItem>
                        <SelectItem Value="@("Open")">Open </SelectItem>
                        <SelectItem Value="@("Expired")">Expired </SelectItem>
                    </Select>
                </FilterTemplate>
        </DataGridSelectColumn>
        <DataGridSelectColumn CustomFilter="@OnCustomFilter" Editable Field="@nameof(JobPost.JobType)" Caption="Job Type">
            <FilterTemplate>
                <Select TValue="string" SelectedValue="@selectedJobTypeFilter" SelectedValueChanged="@(value => { selectedJobTypeFilter = value; context.TriggerFilterChange( selectedJobTypeFilter ); })"> 
                    <SelectItem Value="@("*")"> All </SelectItem>
                    <SelectItem Value="@("Onsite")">Onsite </SelectItem>
                    <SelectItem Value="@("Remote")">Remote </SelectItem>
                    <SelectItem Value="@("Hybrid")">Hybrid </SelectItem>
                </Select>
            </FilterTemplate>
        </DataGridSelectColumn>
    </DataGridColumns>
    

    <ButtonRowTemplate>
        <Button hidden="@(isStudent)" Color="Color.Success" Disabled="(selectedJob is null)" onclick="@(() => {NavigationManager.NavigateTo("/new");})">New</Button>
    </ButtonRowTemplate>
</DataGrid>

}
else
{
    <p>Please log in to access this page</p>
}

@code {
    public ApplicationUser currentUser;
    private List<JobPost> jobList = new List<JobPost> { };
    private JobPost selectedJob = new JobPost();
    private DataGridEditMode editMode = DataGridEditMode.Form;
    public bool isLoggedIn = false;
    public bool isStudent = false;
    public string selectedJobTypeFilter;
    public string selectedStatusFilter;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentUser();

        if (currentUser != null)
        {
            isLoggedIn = true;
            isStudent = (currentUser.Role == RoleType.Student);

            if (currentUser.Role == RoleType.Employer)
            {
                jobList = await JobPostService.GetUserJobPosts(currentUser.Id);
            }
            else
            {
                jobList = await JobPostService.GetAllJobPosts();
            }
        }

        await base.OnInitializedAsync();
    }

    public async Task GetCurrentUser()
    {
        currentUser = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
    }

    public bool OnCustomFilter(object itemValue, object searchValue)
    {
          if ( searchValue is string customFilter )
        {
            return customFilter == "*" || customFilter == itemValue?.ToString();
        }

        return true;
    }



}
